body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none
}

#main-container {
    display: flex;
    flex-direction: column;
}

#header-container {
    display: flex;
}
    header {
        display: flex;
        flex-direction: row;
    }
        /*half by half of the flex with the header as container*/
        #logo-container { flex-basis: 50%; }
            /*puts the nav 10% left, of the 50% of the flex-basis(logo-container).*/
            #logo-container p { text-align: left; margin-left: 10%; }
            #logo-container p a {
                padding: 10px;
            }
        #nav-container { flex-basis: 50%; }
            /*puts the nav 10% right, of the 50% of the flex-basis(nav-container).*/
            .nav-tabs { text-align: right; margin-right: 10%;}
            .nav-tabs li {
                display: inline-block;
                padding: 10px;
            }

#home-container {
    background-image: url(../img/main-edited.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    color: white;
    text-align: center;
}
    #home-container h3 { font-size: 3em; margin: 0}
    #welcome-text { margin-top: 8%; }
        #welcome-text p {margin: 30px; font-size: 0.9em;}
    #about-button { margin-top: 50px;}
    #about-button a{
        background-color: crimson;
        border-radius: 10px;
        border: solid 3px crimson;
        padding: 15px 50px;
        font-size: 1.2em;
        color: white;
        transition: 0.5s ease;
    }
    #about-button a:hover{
        background-color: transparent;
    }


.nav-transition a {
    color: white;
    transition: 0.2s ease;
}
    .nav-transition a:hover {
        color: gray;
    }

    .transition a: hover {
        color: green;
    }

/* spread-out style */
.logo-transition {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
    color: beige;
}
    .logo-transition:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: 0.5s ease;
    }
        .logo-transition:hover:after {
            width: 100%;
            background: crimson;
        }
